body{
	background-color:#F8F4E2;
	font-family: calibri;
}
#main-container{
	margin:150px auto;
	width:600px;
}
table{
	background-color:#27718A;
	text-align: left;
	color:white;
	text-align: center;
	width:100%;
	text-shadow: black 0.1em 0.1em 0.2em;
}
img{
	border-radius: 50%;
}
table border{
background-color:#F8F4E2;
	text-align: left;
	color:black;
	text-align: center;
	width:100%;
	text-shadow: black 0.1em 0.1em 0.2em;
}
h2{
	color:#27718A;
}
i{
	text-decoration: underline
	color:#27718A;
}